<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JBTienda.Properties.Settings.TiendaConnectionString"
            connectionString="Data Source=LAPTOP-LN2ROB9J\SQLEXPRESS01;Initial Catalog=Tienda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="JBTienda.Properties.Settings.TiendaConnectionString1"
            connectionString="Data Source=DESKTOP-4UDBD8N\SQLEXPRESS;Initial Catalog=Tienda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>